<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/header :: header"></div>

    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
    <script src="js/giaidau.js"></script>
    <script src="js/chuyenmon.js"></script>
    <script>
        window.onload = function(){
            loadAGiaiDau();
            loadAllChuyenMonSelect();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <h5>Thêm/ cập nhật giải đấu</h5>
            <form class="modal-body row" action="javascript:themGiaiDau()">
                <div class="col-sm-5">
                    <label class="lb-form">Tên giải đấu</label>
                    <input id="tengd" class="form-control">
                    <label class="lb-form">Ngày thi đấu</label>
                    <input id="ngaytd" type="date" class="form-control">
                    <label class="lb-form">Mô tả</label>
                    <textarea id="mota" class="form-control"></textarea>
                    <label class="lb-form">Chuyên môn</label>
                    <select id="chuyenmon" class="form-control">
                        <!-- <option value=""></option> -->
                    </select>
                    <br><br>
                    <button class="form-control btn btn-primary">Thêm/ cập nhật giải đấu</button>
                </div>
                <div class="col-sm-7">
                    <label class="lb-form">Nội dung</label>
                    <textarea id="editor" name="content"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>
<div id="divdoimk"></div>
<script src="https://cdn.tiny.cloud/1/f6s0gxhkpepxkws8jawvfwtj0l9lv0xjgq1swbv4lgcy3au3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editor',
    });
</script>
</html>