<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>

    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
    <script src="js/taikhoan.js"></script>
    <script>
        window.onload = function(){
            loadATaiKhoan();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <h5>Thêm tài khoản</h5>
            <form class="modal-body row" action="javascript:themTaiKhoan()">
                <div class="col-sm-5">
                    <label class="lb-form">Họ tên</label>
                    <input id="fullName" class="form-control">
                    <label class="lb-form">Số điện thoại</label>
                    <input id="phone" class="form-control">
                    <label class="lb-form">Email</label>
                    <input required id="email" class="form-control">
                    <label class="lb-form">Địa chỉ</label>
                    <input required id="diachi" class="form-control">
                    <label class="lb-form">Giới tính</label>
                    <select id="gioitinh" class="form-control">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                    <br>
                    <div id="loading">
                        <div class="bar1 bar"></div>
                    </div><br>
                    <button class="form-control btn btn-primary">Thêm tài khoản</button>
                </div>
                <div class="col-sm-5">
                    <label class="lb-form">Quyền</label>
                    <select id="quyen" class="form-control">
                        <option value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_COACH">Huấn luyện viên</option>
                        <option value="ROLE_EXPERT">Chuyên gia</option>
                    </select>
                    <label class="lb-form">Hồ sơ hợp đồng</label>
                    <input id="hopdong" type="file" class="form-control">
                    <label class="lb-form">Avatar</label>
                    <input id="avatar" type="file" class="form-control">
                    <img id="imgpreview" class="imgpreview">
                </div>
            </form>
        </div>
    </div>
</body>
<div id="divdoimk"></div>
<script>
    $('#example').DataTable();
</script>
</html>