<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>

    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
    <script src="js/vandongvien.js"></script>
    <script src="js/chuyenmon.js"></script>
    <script src="js/taikhoan.js"></script>
    <script>
        window.onload = function(){
            loadAllChuyenMonSelect();
            loadAllUserByRole('ROLE_COACH');
            loadAVanDongVien();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <h5>Thêm vận động viên</h5>
            <form class="modal-body row" action="javascript:themVanDongVien()">
                <div class="col-sm-5">
                    <label class="lb-form">Họ tên</label>
                    <input id="fullName" class="form-control">
                    <input id="iduser" type="hidden" class="form-control">
                    <label class="lb-form">Số điện thoại</label>
                    <input id="phone" class="form-control">
                    <label class="lb-form">Email</label>
                    <input required id="email" class="form-control">
                    <label class="lb-form">Địa chỉ</label>
                    <input required id="diachi" class="form-control">
                    <label class="lb-form">Giới tính</label>
                    <select id="gioitinh" class="form-control">
                        <option value="Nam">Nam</option>
                        <option value="Nữ">Nữ</option>
                    </select>
                    <label class="lb-form">Ngày sinh</label>
                    <input id="ngaysinh" type="date" class="form-control">
                    <label class="lb-form">Cân nặng</label>
                    <input id="cannang" class="form-control">
                    <label class="lb-form">Chiều cao</label>
                    <input id="chieucao" class="form-control">
                    <label class="lb-form">Chuyên môn</label>
                    <select id="chuyenmon" class="form-control">
                        <!-- <option value=""></option> -->
                    </select>
                    <br>
                    <div id="loading">
                        <div class="bar1 bar"></div>
                    </div><br>
                    <button class="form-control btn btn-primary">Thêm vận động viên</button>
                </div>
                <div class="col-sm-7">
                    <label class="lb-form">Huấn luyện viên</label>
                    <select id="userselect" class="form-control">
                        <!-- <option value=""></option> -->
                    </select>
                    <label class="lb-form">Hồ sơ hợp đồng</label>
                    <input id="hopdong" type="file" class="form-control">
                    <label class="lb-form">Avatar</label>
                    <input id="avatar" type="file" class="form-control">
                    <img id="imgpreview" class="imgpreview">
                    <label class="lb-form">Mô tả về vận động viên</label>
                    <textarea id="editor" name="content"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>
<div id="divdoimk"></div>
<script src="https://cdn.tiny.cloud/1/f6s0gxhkpepxkws8jawvfwtj0l9lv0xjgq1swbv4lgcy3au3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editor',
    });
    avatar.onchange = evt => {
    const [file] = avatar.files
        if (file) {
            imgpreview.src = URL.createObjectURL(file)
        }
    }
</script>
</html>