<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>

    <script src="/js/main.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/giaidau.js"></script>
    <script>
        window.onload = function(){
            loadAllGiaiDau();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="col-sm-12 header-sp">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6">
                        <label class="lb-form">&ThinSpace;</label>
                        <a href="addgiaidau" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm giải đấu</a>
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">Từ ngày</label>
                        <input id="start" type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">Đến ngày</label>
                        <input id="end" type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">&ThinSpace;</label>
                        <button onclick="loadAllGiaiDau()" class="btn btn-primary form-control"><i class="fa fa-filter"></i> Lọc</button>
                    </div>
                </div>
            </div>
            <div class="tablediv">
                <div class="headertable">
                    <span class="lbtable">Danh sách giải đấu</span>
                </div>
                <div class="divcontenttable">
                    <table id="example" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Tên giải đấu</th>
                                <th>Ngày tạo</th>
                                <th>Ngày thi đấu</th>
                                <th>Mô tả</th>
                                <th>Chuyên môn</th>
                                <th>Khóa đăng ký</th>
                                <th class="sticky-col">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id="listgiaidau">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<div class="modal fade" id="modalvdvdangky" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Danh sách vận động viên đăng ký</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Vận động viên</th>
                    <th>Ngày đăng ký</th>
                    <th>Kết quả</th>
                    <th>Đồng ý</th>
                </tr>
            </thead>
            <tbody id="listdki">

            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div id="divdoimk"></div>
</html>