<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>

    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
    <script src="js/taikhoan.js"></script>
    <script>
        window.onload = function(){
            loadAllUser();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="col-sm-12 header-sp">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6">
                        <label class="lb-form">&ThinSpace;</label>
                        <a href="addtaikhoan" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm tài khoản</a>
                    </div>
                    <div class="col-md-3 col-sm-6 col-6">
                        <label class="lb-form">Lọc tài khoản</label>
                        <select onchange="loadAllUser()" id="role" class="form-control">
                            <option value="">Tất cả quyền</option>
                            <option value="ROLE_ADMIN">ADMIN</option>
                            <option value="ROLE_ATHLETE">Vận động viên</option>
                            <option value="ROLE_COACH">Huấn luyện viên</option>
                            <option value="ROLE_EXPERT">Chuyên gia</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="tablediv">
                <div class="headertable">
                    <span class="lbtable">Danh sách tài khoản</span>
                </div>
                <div class="divcontenttable">
                    <table id="example" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Ảnh</th>
                                <th>Email</th>
                                <th>Họ tên</th>
                                <th>Số điện thoại</th>
                                <th>Ngày tạo</th>
                                <th>Quyền</th>
                                <th class="sticky-col">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id="listuser">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<div id="divdoimk"></div>
<script>
    $('#example').DataTable();
</script>
</html>