<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>

    <script src="js/main.js"></script>
    <script src="js/lichkham.js"></script>
    <script>
        window.onload = function(){
            loadAllVdvSelect();
            loadALichKham();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <h5>Thêm/ cập nhật lịch khám</h5>
            <form class="modal-body row" action="javascript:themLichKham()">
                <div class="col-sm-5">
                    <label class="lb-form">Tên</label>
                    <input id="ten" class="form-control">
                    <label class="lb-form">Ngày khám</label>
                    <input id="ngaykham" type="date" class="form-control">
                    <label class="lb-form">Nơi khám</label>
                    <input id="noikham" class="form-control">
                    <label class="lb-form">Vận động viên</label>
                    <select id="vandongvien" class="form-control">
                    </select>
                    <label class="lb-form">FIle kết quả</label>
                    <input id="filekq" type="file" class="form-control">
                    <div id="loading">
                        <div class="bar1 bar"></div>
                    </div><br>
                    <button class="form-control btn btn-primary">Thêm/ cập nhật lịch khám</button>
                </div>
                <div class="col-sm-7">
                    <label class="lb-form">Kết quả khám</label>
                    <textarea id="editor" name="content"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="https://cdn.tiny.cloud/1/f6s0gxhkpepxkws8jawvfwtj0l9lv0xjgq1swbv4lgcy3au3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<div id="divdoimk"></div>
<script>
    tinymce.init({
        selector: 'textarea#editor',
    });
</script>
<script>
    $('#example').DataTable();
</script>
</html>