<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>


    <script src="js/main.js"></script>
    <script src="js/tranthuong.js"></script>
    <script>
        window.onload = function(){
            loadVdvSelectThem();
            loadATranThuong();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <h5>Thêm/ cập nhật trấn thương</h5>
            <form class="modal-body row" action="javascript:themTranThuong()">
                <div class="col-sm-5">
                    <label class="lb-form">Ngày trấn thương</label>
                    <input id="ngaytt" type="date" class="form-control">
                    <label class="lb-form">Vị trí trấn thương</label>
                    <input id="vitri" class="form-control">
                    <label class="lb-form">Mức độ nghiêm trọng</label>
                    <input id="mudonghiemtrong" class="form-control">
                    <label class="lb-form">Vận động viên</label>
                    <select id="vandongvien" class="form-control">
                    </select>
                    <br><br>
                    <button class="form-control btn btn-primary">Thêm/ cập nhật trấn thương</button>
                </div>
                <div class="col-sm-7">
                    <label class="lb-form">Trạng thái</label>
                    <textarea id="editor" name="content"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="https://cdn.tiny.cloud/1/f6s0gxhkpepxkws8jawvfwtj0l9lv0xjgq1swbv4lgcy3au3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<div id="divdoimk"></div>
<script>
    tinymce.init({
        selector: 'textarea#editor',
    });
</script>
<script>
    $('#example').DataTable();
</script>
</html>