<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>


    <script src="js/main.js"></script>
    <script src="js/lichkham.js"></script>
    <script>
        window.onload = function(){
            loadAllLichKham();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="col-sm-12 header-sp">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6">
                        <label class="lb-form">&ThinSpace;</label>
                        <a href="addlichkham" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm lịch khám</a>
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">Từ ngày</label>
                        <input id="start" type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">Đến ngày</label>
                        <input id="end" type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">&ThinSpace;</label>
                        <button onclick="loadAllLichKham()" class="btn btn-primary form-control"><i class="fa fa-filter"></i> Lọc</button>
                    </div>
                </div>
            </div>
            <div class="tablediv">
                <div class="headertable">
                    <span class="lbtable">Danh sách lịch khám</span>
                </div>
                <div class="divcontenttable">
                    <table id="example" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Ngày khám</th>
                                <th>Nơi khám</th>
                                <th>Ngày tạo</th>
                                <th>Kết quả khám</th>
                                <th>File kết quả</th>
                                <th>Vận động viên</th>
                                <th class="sticky-col">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id="listlichkham">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="divdoimk"></div>
</html>