<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <script src="js/main.js"></script>
    <script src="js/tranthuong.js"></script>
    <script>
        window.onload = function(){
            loadAllTranThuong();
            loadVdvSelect();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="col-sm-12 header-sp">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-6">
                        <label class="lb-form">&ThinSpace;</label>
                        <a href="addtranthuong" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm trấn thương</a>
                    </div>
                    <div class="col-md-3">
                        <label class="lb-form">Vận động viên</label>
                        <select class="form-control" id="vandongvien">

                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">&ThinSpace;</label>
                        <button onclick="loadAllTranThuong()" class="btn btn-primary form-control"><i class="fa fa-filter"></i> Lọc</button>
                    </div>
                </div>
            </div>
            <div class="tablediv">
                <div class="headertable">
                    <span class="lbtable">Danh sách vận động viên bị trấn thương</span>
                </div>
                <div class="divcontenttable">
                    <table id="example" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Vận động viên</th>
                                <th>Ngày trấn thương</th>
                                <th>Vị trí</th>
                                <th>Mức độ nghiêm trọng</th>
                                <th>Trạng thái</th>
                                <th class="sticky-col">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id="listTranthuong">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="divdoimk"></div>

<style>
    .select2-container .select2-selection--single{
        height: 38px;
    }
</style>
</html>