<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <div th:replace="fragments/header :: header"></div>

    <script src="js/main.js"></script>
    <script src="js/vandongvien.js"></script>
    <script>
        window.onload = function(){
            loadAVanDongVien();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <h5>Cập nhật thông tin sức khỏe vận động viên</h5>
            <form class="modal-body row" action="javascript:capNhatVanDongVien()">
                <div class="col-sm-5">
                    <label class="lb-form">Cân nặng</label>
                    <input id="cannang" class="form-control">

                    <label class="lb-form">Chiều cao</label>
                    <input id="chieucao" class="form-control">

                    <label class="lb-form">Huyết áp</label>
                    <input id="huyetap" class="form-control">
                    
                    <label class="lb-form">Nhịp tim</label>
                    <input id="nhiptim" class="form-control">

                    <label class="lb-form">Mức độ stress</label>
                    <input id="stress" class="form-control">

                    <label class="lb-form">Nhóm máu</label>
                    <select id="nhommau" class="form-control">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                        <option value="O">O</option>
                    </select>

                    <label class="lb-form">Chỉ số đường huyết</label>
                    <input id="duonghuyet" class="form-control">

                    <br>
                    <button class="form-control btn btn-primary">Cập nhật</button>
                </div>
                <div class="col-sm-7">
                    <label class="lb-form">Thể lực</label>
                    <textarea id="theluc" class="form-control"></textarea>

                    <label class="lb-form">Phân loại Thể lực</label>
                    <textarea id="phanloaitheluc" class="form-control"></textarea>
                    <label class="lb-form">Tiền sử bệnh lý</label>
                    <textarea id="editor" name="content"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>
<div id="divdoimk"></div>
<script src="https://cdn.tiny.cloud/1/f6s0gxhkpepxkws8jawvfwtj0l9lv0xjgq1swbv4lgcy3au3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editor',
    });
</script>
</html>