<!DOCTYPE html>
<html lang="en" >
<head >
    <div th:replace="fragments/header :: header"></div>

    <script src="js/main.js"></script>
    <script src="js/vandongvien.js"></script>
    <script>
        window.onload = function(){
            loadAllVdv();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="tablediv">
                <div class="headertable">
                    <span class="lbtable">Danh sách vận động viên</span>
                </div>
                <div class="divcontenttable">
                    <table id="example" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>Liên lạc</th>
                                <th>Chiều cao/<br>Cân nặng</th>
                                <th>Huyết áp</th>
                                <th>Nhịp tim</th>
                                <th>Mức độ<br>stress</th>
                                <th>Chỉ số đường huyết</th>
                                <th>Thể lực/ phân loại</th>
                                <th>Tiền sử bệnh lý</th>
                                <th class="sticky-col">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id="listvdv">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="divdoimk"></div>
<div class="modal fade" id="addtk" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lịch sử cập nhật</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Ngày tạo</th>
                            <th>Chiều cao/<br>Cân nặng</th>
                            <th>Huyết áp</th>
                            <th>Nhịp tim</th>
                            <th>Mức độ<br>stress</th>
                            <th>Chỉ số đường huyết</th>
                            <th>Thể lực/ phân loại</th>
                            <th>Tiền sử bệnh lý</th>
                        </tr>
                    </thead>
                    <tbody id="listhosoupdate">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $('#example').DataTable();
</script>
</html>