<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm bài tập mới</title>
    <div th:replace="fragments/header :: header"></div>
    <script src="js/main.js"></script>
    <script src="js/baitap.js"></script>
    <script>
        window.onload = function(){
            loadABaiTap();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <h5>Thêm/ cập nhật bài tập</h5>
            <form class="modal-body row" action="javascript:themBaiTap()">
                <div class="col-sm-5">
                    <label class="lb-form">Tên bài tập</label>
                    <input id="tenbt" class="form-control">
                    <label class="lb-form">Đơn vị đo</label>
                    <input id="donvido" class="form-control">
                    <label class="lb-form">Mô tả</label>
                    <textarea id="editor" name="content"></textarea>
                    <br><br>
                    <button class="form-control btn btn-primary">Thêm/ cập nhật bài tập</button>
                </div>
            </form>
        </div>
    </div>
</body>
<div id="divdoimk"></div>
<script src="https://cdn.tiny.cloud/1/f6s0gxhkpepxkws8jawvfwtj0l9lv0xjgq1swbv4lgcy3au3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editor',
    });
</script>
</html>