<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm lịch tập</title>
    <div th:replace="fragments/header :: header"></div>
    <script src="/js/main.js"></script>
    <script src="/js/lichtap.js"></script>
    <script src="/js/kehoach.js"></script>
    <script src="/js/vandongvien.js"></script>
    <script src="/js/baitap.js"></script>
    <script src="/js/kehoach.js"></script>
    <script>
        window.onload = function(){
            loadAllBaiTapSelect();
            loadTtKeHoachLichTap();
            loadALichTap();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <h5>Thêm/ cập nhật lịch tập <span id="thongtinlichtap"></span></h5>
            <form class="modal-body row" action="javascript:themLichTap()">
                <div class="col-sm-5">
                    <label class="lb-form">Ngày tập</label>
                    <input id="ngaytap" type="date" class="form-control">
                    <label class="lb-form">Giờ bắt đầu</label>
                    <input id="giobd" type="time" class="form-control">
                    <label class="lb-form">Giờ kết thúc</label>
                    <input id="giokt" type="time" class="form-control">
                    <label class="lb-form">Địa điểm</label>
                    <input id="diadiem" class="form-control">
                    <label class="lb-form">Khối lượng tập</label>
                    <input id="khoiluongtap" class="form-control">
                    <label class="lb-form">Mức độ</label>
                    <select id="mucdo" class="form-control">
                        <option value="Dễ">Dễ</option>
                        <option value="Trung bình">Trung bình</option>
                        <option value="Khó">Khó</option>
                    </select>
                    <br><br>
                    <button class="form-control btn btn-primary">Thêm/ cập nhật lịch tập </button>
                </div>
                <div class="col-sm-7">
                    <label class="lb-form">Nội dung tập</label>
                    <select onchange="changeGiaTri()" id="baitap" class="form-control" multiple style="width: 100%;">
                    </select>
                    <table class="table table-bordered" style="margin-top: 20px;" id="tablebaitap">
                        <!-- <tr>
                            <td><label class="lb-form">tên bài tập</label></td>
                            <td><input type="number" class="form-control" placeholder="số lượng lặp lại" value="1" min="1"></td>
                            <td><i class="fa fa-remove pointer"></i></td>
                        </tr> -->
                    </table>
                    <label class="lb-form">Kết quả tập</label>
                    <textarea id="editorkq" name="content"></textarea>
                </div>
            </form>
        </div>
    </div>
</body>
<div id="divdoimk"></div>
<script src="https://cdn.tiny.cloud/1/f6s0gxhkpepxkws8jawvfwtj0l9lv0xjgq1swbv4lgcy3au3/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea#editorkq',
    });
</script>
</html>