<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <script src="js/main.js"></script>
    <script src="js/baitap.js"></script>
    <script>
        window.onload = function(){
            loadAllBaiTap();
        }
    </script>
    <title>Bài tập của tôi</title>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="col-sm-12 header-sp">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6">
                        <label class="lb-form">&ThinSpace;</label>
                        <a href="addbaitap" class="btn btn-primary"><i class="fa fa-plus"></i> Thêm bài tập</a>
                    </div>
                </div>
            </div>
            <div class="tablediv">
                <div class="headertable">
                    <span class="lbtable">Danh sách các bài tập của bạn</span>
                </div>
                <div class="divcontenttable">
                    <table id="example" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tên</th>
                                <th>Đơn vị đo</th>
                                <th>Mô tả</th>
                                <th class="sticky-col">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id="listbaitap">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="divdoimk"></div>
</html>