<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>

    <script src="js/main.js"></script>
    <script src="js/lichtap.js"></script>
    <script>
        window.onload = function(){
            loadPhanHoi();
        }
    </script>
    <title>Danh sách phản hồi</title>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="col-sm-12 header-sp">
                <div class="row">
                    <div class="col-md-2">
                        <label class="lb-form">Từ ngày</label>
                        <input id="start" type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">Đến ngày</label>
                        <input id="end" type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">&ThinSpace;</label>
                        <button onclick="loadPhanHoi()" class="btn btn-primary form-control"><i class="fa fa-filter"></i> Lọc</button>
                    </div>
                </div>
            </div>
            <div class="tablediv">
                <div class="headertable">
                    <span class="lbtable">Danh sách phản hồi</span>
                </div>
                <div class="divcontenttable">
                    <table id="example" class="table table-bordered table-striped" style="text-align: center;">
                        <thead>
                            <tr>
                                <th>Ngày phản hồi</th>
                                <th>Ngày tập</th>
                                <th>Nội dung tập</th>
                                <th>Nội dung</th>
                                <th>Thang điểm</th>
                                <th>Vận động viên</th>
                            </tr>
                        </thead>
                        <tbody id="listphanhoi">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="divdoimk"></div>
</html>