<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <script src="js/main.js"></script>
    <script src="js/vandongvien.js"></script>
    <script src="js/kehoach.js"></script>
    <script>
        window.onload = function(){
            loadAllVdv();
        }
    </script>
    <title>Danh sách vận động viên của bạn
    </title>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="tablediv">
                <div class="headertable">
                    <span class="lbtable">Danh sách vận động viên của bạn</span>
                </div>
                <div class="divcontenttable">
                    <table id="example" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Ảnh</th>
                                <th>Email</th>
                                <th>Họ tên</th>
                                <th>Số điện thoại</th>
                                <th>Ngày tạo</th>
                                <th>Bộ môn</th>
                                <th>Kế hoạch</th>
                                <th>Hồ sơ</th>
                            </tr>
                        </thead>
                        <tbody id="listvdv">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

<div id="divdoimk"></div>
<div class="modal fade" id="modalchitietvdv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Chi tiết vận động viên</h5> <button type="button" class="sl-cancel-button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body row">
                <div class='col-sm-3'>
                    <div class='imgdivavt'>
                        <img class='avataracc' id="avataracc" src=""/>
                    </div>
                </div>
                <div class='col-sm-9 row'>
                    <div class='col-sm-4'>
                        <label class="lb-form">Họ và tên</label>
                        <div class='blockcccd' id="hoten"></div>
                        <label class="lb-form">Email</label>
                        <div class='blockcccd'id="email"></div>
                        <label class="lb-form">Số điện thoại</label>
                        <div class='blockcccd' id="phone"></div>
                    </div>
                    <div class='col-sm-4'>
                        <label class="lb-form">Địa chỉ</label>
                        <div class='blockcccd' id="diachi"></div>
                        <label class="lb-form">Giới tính</label>
                        <div class='blockcccd' id="gioitinh"></div>
                        <label class="lb-form">Ngày sinh</label>
                        <div class='blockcccd' id="ngaysinh"></div>
                    </div>
                    <div class='col-sm-4'>
                        <label class="lb-form">Chiều cao</label>
                        <div class='blockcccd' id="chieucao"></div>
                        <label class="lb-form">Cân nặng</label>
                        <div class='blockcccd' id="cannang"></div>
                        <label class="lb-form">Chuyên môn</label>
                        <div class='blockcccd' id="chuyenmon"></div>
                    </div>
                    <div class='col-sm-12'>
                        <div class='blockcccd' style="margin-top: 30px;"><h5>Mô tả vận động viên</h5></div>
                        <div id="motavdv">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalkehoachhl" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Kế hoạch huấn luyện</h5> <button type="button" class="sl-cancel-button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body row">
                <div class="col-sm-8">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Tên kế hoạch</th>
                                <th>Trạng thái</th>
                                <th>Vận động viên</th>
                                <th class="sticky-col">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id="listkehoachtl">
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4">
                    <label class="lb-form">Tên kế hoạch</label>
                    <input id="idkh" type="hidden" class="form-control">
                    <input id="tenkhtl" class="form-control">
                    <br>
                    <label class="checkbox-custom"> Đã hoàn thành
                    <input id="trangthaiht" type="checkbox">
                    <span class="checkmark-checkbox"></span><br>

                    <div style="margin-top: 30px;">
                        <button onclick="themKeHoach()" class="btn btn-primary">Thêm/cập nhật</button>
                        <button onclick="lamMoi()" class="btn btn-primary">Làm mới</button>
                    </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#example').DataTable();
</script>
</html>