<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="image/logo.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
    <link href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <script src="js/main.js"></script>
    <script src="js/giaidau.js"></script>
    <script>
        window.onload = function(){
            loadAllGiaiDau();
            loadGiaiDauDaDangKy();
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="col-sm-12 header-sp">
                <div class="row">
                    <div class="col-md-2">
                        <label class="lb-form">Từ ngày</label>
                        <input id="start" type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">Đến ngày</label>
                        <input id="end" type="date" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">&ThinSpace;</label>
                        <button onclick="loadAllGiaiDau()" class="btn btn-primary form-control"><i class="fa fa-filter"></i> Lọc</button>
                    </div>
                </div>
            </div>
            <div class="tablediv">
                <ul class="nav nav-tabs" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1" aria-selected="true" >Tất cả giải đấu</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab" aria-controls="ex1-tabs-2"aria-selected="false">Đã đăng ký</a>
                    </li>
                </ul>
                <div class="divcontenttable">
                    <div class="tab-content" id="ex1-content">
                        <div class="tab-pane fade show active"id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1" >
                            <table id="example" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tên giải đấu</th>
                                        <th>Ngày tạo</th>
                                        <th>Ngày thi đấu</th>
                                        <th>Mô tả</th>
                                        <th>Chuyên môn</th>
                                        <th class="sticky-col">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody id="listgiaidau">
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                            <table id="exampledki" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Ngày đăng ký</th>
                                        <th>Xác nhận</th>
                                        <th>Kết quả</th>
                                        <th class="sticky-col">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody id="listgiaidauđaki">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div class="modal fade" id="modalnoidung" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nội dung giải đấu</h5> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body row">
                <div id="noidunggiaidau">

                </div>
            </div>
        </div>
    </div>
</div>
<div id="divdoimk"></div>
</html>