<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lịch tập của tôi</title>
    <div th:replace="fragments/header :: header"></div>
    <script src="js/main.js"></script>
    <script src="js/lichtap.js"></script>
    <script>
        window.onload = function(){
            const currentDate = new Date();
            const currentMonth = currentDate.getMonth() + 1;
            const currentYear = currentDate.getFullYear();
            loadBang(currentMonth, currentYear);
        }
    </script>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="col-sm-12 header-sp">
                <div class="row">
                    <div class="col-md-2">
                        <label class="lb-form">Chọn tháng</label>
                        <select id="month" class="form-control"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">Chọn năm</label>
                        <select id="year" class="form-control"> </select>
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">&ThinSpace;</label>
                        <button onclick="locBang()" class="btn btn-primary form-control"><i class="fa fa-filter"></i> Lọc</button>
                    </div>
                </div>
            </div>
            <div class="divlichtap">
                <p>ngày có màu đỏ có lịch tập</p>
                <div class="row">
                    <div class="col-lg-7">
                        <table class="table table-borderless tablelichtap">
                            <thead>
                                <th>Thứ 2</th>
                                <th>Thứ 3</th>
                                <th>Thứ 4</th>
                                <th>Thứ 5</th>
                                <th>Thứ 6</th>
                                <th>Thứ 7</th>
                                <th>Chủ nhật</th>
                            </thead>
                            <tbody id="listlichtap">
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-5">
                        <h6 id="ngaytappp"></h6>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Thông tin</th>
                                    <th>giờ tập</th>
                                    <th>Nội dung</th>
                                    <th class="sticky-col">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody id="listvdvlichtap">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="divdoimk"></div>

</html>