<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/header :: header"></div>

    <script src="js/main.js"></script>
    <script src="js/lichtap.js"></script>
    <script>
        window.onload = function(){
            loadAllKeHoachSelect();
            const currentDate = new Date();
            const currentMonth = currentDate.getMonth() + 1;
            const currentYear = currentDate.getFullYear();
            loadBangByKeHoach(currentMonth, currentYear);
        }
    </script>
    <title>Lịch tập của tôi</title>
</head>
<body>
    <div class="navleft" id="navleft"></div>
    <div class="contentweb">
        <div class="headerweb" id="headerweb"></div>
        <div class="contentmain">
            <div class="col-sm-12 header-sp">
                <div class="row">
                    <div class="col-md-2">
                        <label class="lb-form">Chọn kế hoạch</label>
                        <select id="kehoachselect" class="form-control">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">Chọn tháng</label>
                        <select id="month" class="form-control"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">Chọn năm</label>
                        <select id="year" class="form-control"> </select>
                    </div>
                    <div class="col-md-2">
                        <label class="lb-form">&ThinSpace;</label>
                        <button onclick="locBangVdv()" class="btn btn-primary form-control"><i class="fa fa-filter"></i> Lọc</button>
                    </div>
                </div>
            </div>
            <div class="divlichtap">
                <p id="thongtinlichtap">ngày có màu đỏ có lịch tập</p>
                <div class="row">
                    <div class="col-lg-7">
                        <table class="table table-borderless tablelichtap">
                            <thead>
                                <th>Thứ 2</th>
                                <th>Thứ 3</th>
                                <th>Thứ 4</th>
                                <th>Thứ 5</th>
                                <th>Thứ 6</th>
                                <th>Thứ 7</th>
                                <th>Chủ nhật</th>
                            </thead>
                            <tbody id="listlichtap">
                            
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-5">
                        <h6 id="ngaytappp"></h6>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Thông tin</th>
                                    <th>giờ tập</th>
                                    <th>Nội dung</th>
                                    <th class="sticky-col">Chức năng</th>
                                </tr>
                            </thead>
                            <tbody id="listvdvlichtap">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Phản hồi buổi tập (Bởi vận động viên)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label class="lb-form">Nội dung phản hồi</label>
            <textarea class="form-control" id="noidungphanhoi"></textarea>
            <input type="hidden" id="idlictap">

            <label class="lb-form">Bạn có thích buổi tập này không?</label>
            <select class="form-control" id="thangdiem">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <label class="lb-form">Buổi tập này đối với bạn có khó không?(về mặt vật lý)</label>
            <div class="slidecontainer">
                <input type="range" min="1" max="10" value="1" class="slider" id="myRange">
                <p>Value: <span id="demo"></span></p>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button onclick="capNhatFeedBack()" class="btn btn-primary">Lưu</button>
        </div>
      </div>
    </div>
</div>
<div id="divdoimk"></div>
<script>
    function moThemLichTap(){
        var uls = new URL(document.URL)
        var vdv = uls.searchParams.get("vdv");
        var kehoach = uls.searchParams.get("kehoach");
        window.location.href = 'addlichtap?vdv='+vdv+'&kehoach='+kehoach
    }
    function locKeHoach(){
        var uls = new URL(document.URL)
        var vdv = uls.searchParams.get("vdv");
        var kehoach = document.getElementById("kehoachselect").value
        window.location.href = 'lichtapvdv?vdv='+vdv+'&kehoach='+kehoach
    }
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }


</script>
</html>