<!DOCTYPE html>
<html lang="vi">
<head xmlns:th="http://www.thymeleaf.org">
    <div th:replace="fragments/header :: header"></div>
    <script src="js/taikhoan.js"></script>
</head>
<body>
    <div class="loginpage">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="logindiv">
                    <form action="javascript:forgorPassword()" class="regisform" autocomplete="off">
                        <p class="titlelogin">Quên mật khẩu</p>
                        <input id="email" class="inputform" placeholder="Nhập email của bạn">
                        <button class="btnlogin">Xác nhận</button>
                        <hr>
                        <a href="login" class="linklogin">Đăng nhập</a>
                    </form>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</body>
</html>